@font-face {
  font-family: bahianita;
  src: url(./fonts/Bahianita-Regular.woff) format("woff");
}

body {
 background-color: #97101a;
 overflow: hidden;
 font-family: bahianita, sans-serif;
}

.content {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-container,
.result-container {
  text-align: center;
  color: #ffd700;
}

.title {
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.envelopes-grid {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.envelope {
  width: 60px;
  cursor: pointer;
}

#replay {
    font-size: 30px;
    cursor: pointer;
}